<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Site.Title }}</title>
    {{ $styles := resources.Get "css/main.css" }} 
    {{ $styles = $styles | resources.PostCSS (dict "inlineImports" true) | minify | fingerprint}} 
    <link href="{{ $styles.Permalink }}" rel="stylesheet" />
    <link rel="shortcut icon" href="/xmeyers/img/favicon.ico" /> 
    <script defer data-domain="xmeyers" src="https://plausible.io/js/script.js"></script>
  </head>

  <body>
    <div class="px-3 bg-gray-100 md:flex md:items-center md:justify-between">
      <div class="flex-1 min-w-0">
        <div class="text-2xl text-gray-900 leading-7 sm:text-3xl sm:truncate"> 
          <img class="inline align-middle" style="padding-bottom: 3px;" src="/xmeyers/img/mountain-15-32.png"/> Xmeyers
        </div>
      </div>
      <div class="flex mt-4 md:mt-0 md:ml-4">
      </div>
    </div>
    {{ block "main" . }}{{ end }}
  </body>
</html>
