<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/style.css" />
    <title>{{ .Title }} | {{ .Site.Title }}</title>
  </head>
  <body>
    <nav>
        <ul>
            <li><a href="/xmeyers/">Home</a></li>
            <li><a href="/xmeyers/about/">About</a></li>
        </ul>
    </nav>
    {{ block "main" . -}}{{- end }}
  </body>
</html>
